<h2>LOGIN</h2>

<div class="content">
    <form novalidate (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
        <md-input-container>
            <input mdInput id="email" name="email" placeholder="Email" required ngModel>
        </md-input-container>
        <br />
        <md-input-container>
            <input mdInput id="password" name="password" placeholder="Password" required ngModel>
        </md-input-container>
        <br />
        <button md-raised-button id="btnLogin" type="submit" [disabled]="!loginForm.form.valid">LOGIN</button>
    </form> 
</div>