.blog {
    margin-bottom: 5px;
}

.blog-header {
    margin: 0px;
    padding: 0px;
}

.blog-title {
    margin: 0px;
    padding: 0px;
    color: #125087;
    font-weight: bold;
}

.loading {
    opacity: 0;
}

.loaded {
    transition: .5s ease-in-out all;
}