.social-button {
    min-width: 5px;
    min-height: 5px;
    padding: 0 6px 0 6px;
    background-color: #2D74B2;
    color: white;
}

.social-button:hover {
    background-color: white;
    color: #2D74B2;
    cursor: pointer;
}